
		        <section class="nav">
            <ul>
                <li>
                    <a class="btn" href="/#/index"><i class="fa fa-home"></i>博客
                    <i class="after"></i></a>
                </li>
                <span>&nbsp·&nbsp</span>
                <li>
                    
                    <a href="/#/shares"><i class="fa fa-heartbeat"></i>分享
                    <i class="after"></i></a></a>
                </li>
                <span>&nbsp·&nbsp</span>
                <li>
                    
                    <a href="http://www.zhihu.com/people/huang-ding-zhi-58" target="__blank"><i class="fa"></i>知乎
                    <i class="after"></i></a></a>
                </li>
                <span>&nbsp·&nbsp</span>
                <li>
                
                <a href="https://github.com/dinglehuang" target="_blank"><i class="fa fa-github"></i>Github
                <i class="after"></i></a></a>
                </li>
                <span>&nbsp·&nbsp</span>
                <li>
                    <a href="http://blog.csdn.net/myphpnotes" target="_blank"><i class="fa"></i>CSDN
                    <i class="after"></i></a></a>
                </li>
            </ul>
            </section>
		